.photo img{
	max-width:88%;
}

.personal_information,.my_work{
	margin-top:20px;
}

body{
	display:flex;
	flex-direction:column;
	height:100vh;
}

article{
	flex-grow:2;
}

.icon{
	font-size: 2em;
}

.about{
	height:480px;
}

.personal_information_text{
	height:380px;
}

.my_work{
	height:280px;
}

.my_work_item_photo img{
	max-width:60%
}
